<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="okayu.tauri.plugin.android.player.VideoPlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/Theme.AppCompat.NoActionBar"
        />
    </application>
</manifest>
